@import "../../styles/variables.scss";

.bg-image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 0;
    filter: blur(10px);
}

.card {
    filter: none;
    overflow: 1;
    border-radius: 5px;
    background-color: $primary-color;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card-title {
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 10px;
}

.form-control {
    width: 100%;
    border-radius: 3px;
}

.btn {
    width: 100%;
    background-color: darken($primary-color, 30%);
    color: #fff;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

.error-messsage{
    color: rgb(184, 70, 70);
}
