<div class="container">
    <ul class="messages" >
        <li class="message sent-by-me">
            <div class="sender-info">
                <div class="send-by">Eduardo</div>
                <div class="send-at">21/05/2023 18:32</div>
            </div>
            <div class="message-content">
                <p class="message-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi, optio aliquid. Quidem, nihil praesentium. Quis, accusantium. Illum odit provident voluptate harum eius fuga, accusamus laborum ex magni molestiae reiciendis dolor.</p>
            </div>
        </li>
        <li #messagesList class="message" *ngFor="let message of Allmessages">
            <div class="sender-info">
                <div class="send-by">Felipe</div>
                <div class="send-at">{{message.sentAt | date:'dd/MM/yyyy HH:mm'}}</div>
            </div>
            <div class="message-content">
                <p class="message-text">{{message.content}}</p>
            </div>
        </li>
    </ul>
</div>
    <!--  -->
    