<div class="container">
    <ul class="messages">
        <li #messagesList class="message" *ngFor="let message of Allmessages"
            [ngClass]="{'sent-by-me': message.userName == currentUserName}">
            <div class="sender-info">
                <div class="send-by">{{message.userName}}</div>
                <div class="send-at">{{message.sentAt | date:'dd/MM/yyyy HH:mm'}}</div>
            </div>
            <div class="message-content">
                <p class="message-text">{{message.content}}</p>
            </div>
        </li>
    </ul>
</div>