@import "../../styles/variables.scss";

ehm-chat-messages {
    flex-grow: 1;
    padding: 20px;
}
.main-chat{
    padding-bottom: 15px;
}
ehm-chat-bar {
    padding: 5px;
    display: flex;
    align-items: center;
    padding: 10px;
    //background-color: $secondary-color;
}
